<div class="content">
  <div class="percentage">
    <!-- <div #tooltip="matTooltip" matTooltip="{{ time | date: 'hh:mm:ss' | removeTwelveFromTime }} left"
      matTooltipPosition="above" matTooltipClass="tooltip" matTooltipHideDelay="1000">{{ percentage | number: '1.2-2'}}%
    </div>
    <div>Shift completed</div>
    <mat-progress-bar mode="determinate" value="{{percentage}}"></mat-progress-bar> -->
    <circle-progress #tooltip="matTooltip" matTooltip="{{ time | date: 'hh:mm:ss' | removeTwelveFromTime }}"
      matTooltipPosition="above" matTooltipClass="tooltip" matTooltipHideDelay="1000" [percent]="percentage"
      [radius]="200" [outerStrokeWidth]="11" [outerStrokeColor]="'gold'" [titleColor]="'#FFFFFF'"
      [unitsColor]="'#FFFFFF'" [subtitleColor]="'#FFFFFF'" [animation]="false" [animationDuration]="300" [toFixed]="2"
      [showInnerStroke]="false">
    </circle-progress>
  </div>
</div>